main {
    text-align:center;
}

.espace{
    height: 5em;
}

.espace2{
    height: 2em;
}

/*************************************************************************/
/*******************************   NAVBAR   ******************************/
/*************************************************************************/

.logo {
    height: 150px;
}


/*************************************************************************/
/*******************************   ONGLET   ******************************/
/*************************************************************************/


.onglet {
    width: 70%;
    height: 50px;
    font-weight: 700;
    font-size: 1.2em;

}

.onglet2 {
    width: 30%;
    height: 50px;
    font-weight: 700;
    font-size: 1.4em;
    background: rgb(255, 136, 0);
    color: black;

}

/*************************************************************************/
/*******************************   PLAN   ******************************/
/*************************************************************************/

.plan {
    width: 100%;
}

/*************************************************************************/
/*******************************   HR   ******************************/
/*************************************************************************/
.separation {
    width: 80%;
    background: rgba(255, 136, 0, 0.356);
    padding: 0.1em;
    margin-top: -2em;
    margin-bottom: -2em;
}

.simple {
    width: 60%;
    background: black;

}

.double {
    width: 60%;
    border-top: 6px double #8c8b8b;
}



/*************************************************************************/
/*******************************   TABLEAUX   ******************************/
/*************************************************************************/



tr:nth-child(even) {
    background: rgb(194, 194, 194);
}


th,td, tr {
    border: 2px solid black;
    font-size: 1.1em;
    height: 3em;
    text-align: center;
    min-width: 8%;
    font-weight: 500;
}

tr.fond_tableau{
    background: rgb(255, 136, 0);
    color: white;
    font-size: 1.3em;
}

.modif {
    height: 50px;
}

.croix {
    height: 40px;
}
/*************************************************************************/
/*******************************   CREER   ******************************/
/*************************************************************************/

.creation {
    font-size: 1.5em;
    line-height: 4em;
    font-weight: 700;

    label {
        padding: 2em;
    }
}



.titreCreation {
    background: rgb(255, 136, 0);
    color: white;
    padding: 0.7em;
    font-weight: 700;
    font-size: 2em;
}

/*************************************************************************/
/*******************************   FACTURE  ******************************/
/*************************************************************************/


.logo_facture {
    height: auto;
}

.droite {
    text-align: right;
}

.gauche {
    text-align: left;
}

.facturation {
    font-weight: bold;
    background: rgb(238, 223, 223);
    font-size: 1.3em;

    label {
        border-width: 3px solid black;
    }

}

.pdf {
    height: 100%;
    width: auto;
}













@media (max-width:991px) {

    tr,td, th {
        font-size: 1em;
    }
  }

@media (max-width:800px) {

    tr,td, th {
        font-size: 0.8em;
    }
  }

  @media (max-width:600px) {

    tr,td, th {
        font-size: 0.6em;
    }
  }

  @media (max-width: 370px) {
    tr, td, th {
      font-size: 0.4em; } }
